@import '_setting.scss';
@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.app {
    height: 100vh;
    background-color: $primary-color;

    .content-editable {
        background-color: inherit;
        border: none;
        font-size: inherit;
        font-weight: inherit;
        cursor: pointer;

        &:focus {
            background-color: white;
            border: 1px solid #ced4da;
            font-size: 14px;
            font-weight: 500;
            cursor: text;
        }
    }
}