@import '_setting.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
}

.app {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $primary-color;
}